.navigation-bar
  #navigation-container
    .logo
      = link_to "/" do
        = image_tag 'logo_red_white.png'
      %br
      Vehicle inventory logistics

    %ul
      %li
        = link_to "User Login", "https://app.lotwing.com/users/sign_in"
        