---
title: LotWing | Privacy Policy
---

%p{style:'margin-top: 100px'}
  All content, materials and information published on this website are protected by copyright law and are owned by or licensed to LotWing, LLC, a California limited liability company.  Unauthorized alterations, copying, duplicating, posting, republishing, reproduction, or transmitting of any material on the website without prior written permission is strictly prohibited.  By using this website you agree to these terms.

%p{style:'margin-top: 30px;'}
  Material contained on this website constitutes general information and opinion and should not be relied upon for any reason.  Information submitted to or via the website is not confidential.  LotWing, LLC does not necessarily endorse, and is not responsible for, any third-party content that may be accessed or accessible via this website.  LotWing, LLC expressly disclaims all liability with respect to actions taken or not taken based on any or all of the contents of this website.  

%p{style:'margin-top: 30px;'}
  All rights reserved.  ©
  :javascript
    document.write(new Date().getFullYear());
    
  LotWing, LLC. 
