---
title: LotWing | Support
---
%div{style:'margin-top: 80px'}

  %p{style:'width:50%;'}
    = image_tag 'yt_logo_rgb_dark.png', style:'width:80px;'
    %br
    How to videos


%div{style:'margin-top: 50px; clear:both;'}

  %div{style: "width:30%;float: left;padding-right: 30px;"}
    %strong{style: 'color: #d4d4d4; font-size: 22px;'}
      Mobile Application
    %ol{style:'padding-left: 30px;'}

      %li{style:'margin-bottom:10px;'}
        = link_to "https://youtu.be/eFc74rcN40A", style: 'color: #FF9933', target: '_blank' do
          Introduction to the mobile application

      %li{style:'margin-bottom:10px;'}
        = link_to "https://www.youtube.com/watch?v=phzbsH-M4lw", style: 'color: #FF9933', target: '_blank' do
          Multi-tag mode


      %li{style:'margin-bottom:10px;'}
        Create vehicles

      %li{style:'margin-bottom:10px;'}
        Creating and working with Lease Returns



  %div{style: "width:30%;float: left;padding-right: 30px;"}
    %strong{style: 'color: #d4d4d4; font-size: 22px;'}
      Web Application

    %ol{style:'padding-left: 30px;'}
      %li{style:'margin-bottom:10px;'}
        Introduction to the web application

      %li{style:'margin-bottom:10px;'}
        Lot view tab

      %li{style:'margin-bottom:10px;'}
        Vehicle Manager tab

      %li{style:'margin-bottom:10px;'}
        Board Manager tab overview

      %li{style:'margin-bottom:10px;'}
        Board Manager entering deals

      %li{style:'margin-bottom:10px;'}
        Service tickets tab

      %li{style:'margin-bottom:10px;'}
        Dealer trades tab

      %li{style:'margin-bottom:10px;'}
        Check requests tab

  %div{style:'clear:both'}
