---
title: LotWing | About
---
%div{style:'margin-top: 80px'}

  %p{style:'width:50%;'}
    %em Team members use the LotWing mobile app on their cell phones to easily update vehicle inventory location, allowing your inventory to come alive with information.    

  
%div{style:'margin-top: 50px; clear:both;'}
  
  %div{style: "width:30%;float: left;padding-right: 30px;"}
    %strong{style: 'color: #d4d4d4; font-size: 22px;'}
      Efficient, inexpensive solution for vehicle management
    %p{style:' margin-bottom: 30px;'}
      %small
        We designed LotWing specifically without the need to purchase expensive hardware. By using an electronic map of your dealership, team members use their cell phones to quickly update your inventory. Simple.  Deployment of LotWing is about as easy.  Dealers simply appoint a dealership admin who sets up your dealership users and approves an electronic map of your facility.  After your dealership map is available in your web portal, you can start using LotWing.
    

    %strong{style: 'color: #d4d4d4; font-size: 22px;'}
      How it works
    %p
      %small
        Team members use a free LotWing app via your dealership's wifi network on their phone to confirm/update/move/find the exact location of vehicles in your inventory.   
    %p
      %small
        Because we've made the app very easy to use, all team members, in sales and service departments update vehicle information every time they move a car.  Vehicle location is by specific parking space, not just a general area.
    %p
      %small
        Users then log into your LotWing web portal to easily see all of your vehicles exactly where they are at your dealership.
    %p
      %small
        Once you've selected a dealership admin, we will quickly work with that person to build your electronic dealership parking map (2-3 day turn around).  We then determine a method for uploading your actual vehicle inventory from your selected third party provider or DMS.  Finally, simply create users who then download the app, login and start updating your inventory.


  %div{style: "width:30%;float: left;padding-right: 30px;"}
    %strong{style: 'color: #d4d4d4; font-size: 22px;'}
      Inventory updates on the fly!
    %p
      %small
        Users update or "tag" a vehicle by scanning the vehicle's VIN Barcode or entering in the stock number.  Vehicle information is immediately retrieved allowing the user to select various actions such as moving the car or taking it for a test drive.  Notes can be added which helps the dealership optimize a process for service tickets.  For vehicles that are not yet in your daily data feed, we provide a simple way for users to add vehicles to the lot in realtime.  
    %p{style:' margin-bottom: 30px;'}
      %small
        Tools such as multi-car tagging allow users to quickly update multiple vehicle locations within minutes.  Team members can be assigned various areas of the lot to keep inventory updated at a predetermined schedule.  The app allows users to update the odometer of the vehicle as well as create notes which can quickly be transferred to a service ticket to streamline a transfer to the service department.
    

    %strong{style: 'color: #d4d4d4; font-size: 22px;'}
      Web Application-your inventory “control tower”
    %p
      %small
        All information is summarized in LotWing’s dealership web portal.  Easily view your dealership inventory, quickly identifying all vehicle types (i.e., new, used, service loaners,etc,) and their location.  Filters allow you to see only vehicles that fall into certain categories such as "vehicles that have never been on a test drive" or vehicles that have not been "tagged" in over four days.  Vehicle sales are also tracked here allowing for real-time info on dealership sales in the mobile app, as well as sales rep and vehicle sales tracking.

  %div{style: "width:30%;float: left;padding-right: 30px;"}
    %strong{style: 'color: #d4d4d4; font-size: 22px;'}
      Additional web portal features
    %p
      %small
        Other front end pre-dms applications are available to help sales teams manage inventory.  In addition to providing a very visible way for sales teams to help track sales, a more robust deal-coversheet info app is available allowing sales teams to keep track of manufacturer reporting status and sales manager and finance manager users.  Dealer trade management is also available allowing sales management to easily keep track of all dealer trades and the value of trade relationships.  Our service ticket tool seamlessly works with LotWing to allow all users to help keep track of vehicle issues and submit paperless service requests.
  %div{style:'clear:both'}
