---
title: LotWing | Vehicle Inventory Logistics
---

.background-image
  = image_tag 'logo_home.png', style: 'opacity: 0.5'

%p{style:'margin-top: 100px'}
  = link_to '/about', style:'color: #b5b1b1;' do 
    Click here to learn more about using LotWing to manage your vehicle inventory


%p{style:'margin-top: 20px'}
  Available Spring 2020


